<!DOCTYPE html>
<html>
<head>
    <title>Tab Tracker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <h2>TabTracker</h2>
    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/insights">Insights</a>
    </div>
</nav>

<div class="container">
    <div class="card">
        <h1>Why are you here?</h1>
        <p class="subtitle">Track intent. Kill distractions.</p>

        <form action="/save" method="POST">
            <input type="text" name="url" id="url" placeholder="Paste URL" required>
            <textarea name="reason" placeholder="Your reason..." required></textarea>
            <button type="submit">Save</button>
        </form>
    </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>